{% extends "base.html" %}
{% block style %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='./css/evo-calendar.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='./css/evo-calendar.orange-coral.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='./css/evo-calendar.midnight-blue.min.css')}}">


<style>
  .menu3{
    background: rgba(255, 255, 255, 0.2);
  }

  /* The popup form - hidden by default */
.form-popup {
  font-family: times new roman;
  display: none;
  position: fixed;
  transform: translate(30%, 10%);
  /*bottom: 0;
  right: 15px;*/
  border: 3px solid #f1f1f1;
  z-index: 9;
  border-radius: 12px 12px  12px 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

/* Add styles to the form container */
.form-container {
  height: 72vh;
  max-width: 100vh;
  padding: 30px;
  background-color: white;

}

.form-container label{
    font-family: arial;
    padding-right: 10px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=date], .form-container input[type=time]{
  font-family: consolas;
  padding: 8.5px;
  margin: 5px 0px 10px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


  .button {
    position: absolute;
    left: 440px;
    top: 355px;
    margin-top: 40px;
    border-radius: 5px 5px 5px 5px;
    background-color: #8080ff;
    box-shadow: 0 5px 5px 0 #4d4dff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-family: times new roman;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
    min-width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.1);
  }

  .button2{
    position: absolute;
    left: 285px;
    top: 355px;
    margin-top: 40px;
    border-radius: 5px 5px 5px 5px;
    background-color: #8080ff;
    box-shadow: 0 5px 5px 0 #4d4dff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-family: times new roman;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
    min-width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.1);
  }
</style>

{% endblock %}
{% block content %}
    
    <button style="z-index: 50;position: absolute; right: 15px; bottom: 15px; padding: 10px 15px; font-family: consolas; font-size: 18px; font-weight: bolder; border: 2px solid #8080ff; border-radius: 6px; cursor: pointer; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" onclick="openForm()"><i class="fa fa-plus" style="padding-right: 5px;" ></i>Add Event</button>
    <div style="font-family:consolas /*'Roboto', sans-serif*/;">
        <div id="calendar" style="width: 95%; height: 80vh; margin-top: 30px;"></div>
    </div>
    <div style="position: absolute; top: 14%; border: 1;height: 83%; width: 78%; background: red; display: none; background: rgba(0, 0, 0, 0.5); box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; z-index: 10000000000000;" id="division">
    <div class="form-popup" id="myForm" >
        <form action="{{url_for('add_event')}}" method="POST" class="form-container">
            <h2 style="text-align:center; margin-top: 10px; color:#2E2E2E; font-family: times new roman; font-size: 24px"><u>Add Event</u></h2>

            <label for="event_name"><b>Event Name:</b></label>
            <input type="text" value='' name="event_name" required style="width: 76.5%;">

            <label for="time" style="display: inline-block;"><b>Time:</b></label>
            <label for="startt" style="margin-left: 52px;">Start:</label>
            <input type="time" value='' name="startt" required style="width: 25%;">

            <label for="endt" style="margin-left:50px">End:</label>
            <input type="time" value='' name="endt" required style="width: 25%">

            <label for="date" style="display: inline-block;"><b>Date:</b></label>
            <label for="startd" style="margin-left: 55px;">Start:</label>
            <input type="date" value='' name="startd" required style="width: 25%;">

            <label for="endd" style="margin-left:50px">End:</label>
            <input type="date" value='' name="endd" required style="width: 25%">

            <label for="description"><b>Description:</b></label>
            <input type="text" value='' name="description" required style="width: 77.5%;">

            <label for="incharge"><b>Incharge:</b></label>
            <input type="text" value='' name="incharge" required style="width: 31%; margin-left: 20px;">

            <label for="guest" style="margin-left:20px"><b>Guest:</b></label>
            <input type="text" value='' name="guest" required style="width: 31%;">

            <label for="mode"><b>Mode:</b></label>
            <input type="text" autocomplete="off" name="mode" list="exampleList" style="margin-left:45px; width: 31%;" required>
                <datalist id="exampleList">
                  <option value="Online">  
                  <option value="Offline">
                </datalist>

            <label for="venue" style="margin-left:20px"><b>Venue:</b></label>
            <input type="text" value='' name="venue" required style="width: 31%;">


            <input type="submit" class="button" value="Add Event" style="font-size: 18px; font-family: consolas">
            <i type="button" class="fa fa-close" onclick="closeForm()" style="position: relative; top: -390px; left: 700px; border-radius: 24px; cursor: pointer; background: rgba(0, 0, 0, 0.5); color: #f2f2f2; padding: 10px 12px;"></i>
        </form>
    </div>
    </div>
    <div style="position: absolute; top: 14%; border: 1;height: 83%; width: 78%; background: red; display: none; background: rgba(0, 0, 0, 0.5); box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; z-index: 10000000000000;" id="division2">
    <div class="form-popup" id="myForm2">
        <form action="{{url_for('update_event')}}" method="POST" class="form-container">
            <h2 style="text-align:center; margin-top: 10px; color:#2E2E2E; font-family: times new roman; font-size: 24px"><u>Edit Event</u></h2>

            <label for="event_name"><b>Event Name:</b></label>
            <input type="text" value='' name="event_name" required style="width: 76.5%;" readonly="readonly">

            <label for="time" style="display: inline-block;"><b>Time:</b></label>
            <label for="start" style="margin-left: 52px;">Start:</label>
            <input type="time" value='' name="startt" required style="width: 25%;">

            <label for="end" style="margin-left:50px">End:</label>
            <input type="time" value='' name="endt" required style="width: 25%">

            <label for="date" style="display: inline-block;"><b>Date:</b></label>
            <label for="start" style="margin-left: 55px;">Start:</label>
            <input type="date" value='' name="startd" required style="width: 25%;">

            <label for="end" style="margin-left:50px">End:</label>
            <input type="date" value='' name="endd" required style="width: 25%">

            <label for="description"><b>Description:</b></label>
            <input type="text" value='' name="description" required style="width: 77.5%;">

            <label for="incharge"><b>Incharge:</b></label>
            <input type="text" value='' name="incharge" required style="width: 31%; margin-left: 20px;">

            <label for="guest" style="margin-left:20px"><b>Guest:</b></label>
            <input type="text" value='' name="guest" required style="width: 31%;">

            <label for="mode"><b>Mode:</b></label>
            <input type="text" autocomplete="off" name="mode" list="exampleList" style="margin-left:45px; width: 31%;" required>
                <datalist id="exampleList">
                  <option value="Online">  
                  <option value="Offline">
                </datalist>

            <label for="guest" style="margin-left:20px"><b>Venue:</b></label>
            <input type="text" value='' name="venue" required style="width: 31%;">

            <input type="submit" class="button" value="Update Event" style="font-size: 18px; font-family: consolas">
            <button style="font-size: 18px; font-family: consolas;" class="button2" id="mybutton">Delete Event</button>
            <i type="button" class="fa fa-close" onclick="closeForm()" style="position: relative; top: -390px; left: 700px; border-radius: 24px; cursor: pointer; background: rgba(0, 0, 0, 0.5); color: #f2f2f2; padding: 10px 12px;"></i>
        </form>
    </div>
    
    </div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="{{url_for('static', filename='./js/evo-calendar.min.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        arr = [];
        let list_data = {{ output | tojson }};
        for (let i = 0; i < list_data.length; i++) {
            const dict = new Object();
            dict.id = list_data[i]['id'];
            dict.name = list_data[i]['name'];
            dict.badge = list_data[i]['badge'];
            dict.date = list_data[i]['date'];
            dict.description = list_data[i]['description'];
            dict.type = list_data[i]['type'];
            dict.startd = list_data[i]['startd']
            dict.endd = list_data[i]['endd']
            dict.startt = list_data[i]['startt']
            dict.endt = list_data[i]['endt']
            dict.incharge = list_data[i]['incharge']
            dict.guest = list_data[i]['guest']
            dict.mode = list_data[i]['mode']
            dict.venue = list_data[i]['venue']
            dict.descr = list_data[i]['descr']

            arr.push(dict)
}
        // var person={"first_name":"Tony","last_name":"Hawk","age":31};
        // var personJSONString=JSON.stringify(person); 
        // document.write(JSON.parse(personJSONString[0]));
        $('#calendar').evoCalendar({     
            theme: "Royal Navy",
            todayHighlight: "true",

            calendarEvents: arr
        });
    })

        // selectEvent
        $('#calendar').on('selectEvent', function(event, activeEvent) {
          document.getElementById("myForm2").style.display = "block";
          document.getElementById("division2").style.display = "block";

          document.getElementsByName("event_name")[1].value = activeEvent.name;
          document.getElementsByName("startd")[1].value= activeEvent.startd;
          document.getElementsByName("endd")[1].value= activeEvent.endd;
          document.getElementsByName("startt")[1].value= activeEvent.startt;
          document.getElementsByName("endt")[1].value= activeEvent.endt;
          document.getElementsByName("guest")[1].value = activeEvent.guest;
          document.getElementsByName("incharge")[1].value= activeEvent.incharge;
          document.getElementsByName("mode")[1].value= activeEvent.mode;
          document.getElementsByName("venue")[1].value= activeEvent.venue;
          document.getElementsByName("description")[1].value= activeEvent.descr;

        });


        
         $(function() { 
            // var vahl = $('#calendar').evoCalendar('getActiveEvents');
            $("#mybutton").click(function (event){ 
                var ename = this.closest('form').elements["event_name"].value;
                document.getElementById("myForm2").style.display = "none";
                document.getElementById("division2").style.display = "none";
                $('#calendar').evoCalendar('removeCalendarEvent', [ename]);

                $.getJSON('/delete_event', {event_name_e: ename },
                    function(data) { }); return false; }); }); 

        function openForm(id) {
          document.getElementById("myForm").style.display = "block";
          document.getElementById("division").style.display = "block";


        }

        function closeForm() {
          document.getElementById("myForm").style.display = "none";
          document.getElementById("division").style.display = "none";
          document.getElementById("myForm2").style.display = "none";
          document.getElementById("division2").style.display = "none";
        }


 
</script>
    
{% endblock %}