{% extends 'base.html' %}

{% block style %}
<style>
#myInput{
  border: 2px solid transparent;
  outline: none;
  width:  80%;
  border-radius: 12px 12px 12px 12px;
  background: rgba(255, 255, 255, 0.5);
  /*background: #ffe6e6;*/
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 8px 20px 8px 45px;
}

#myInput:focus{
    border: 2px solid #8080ff;
  }

 #table tr td{
 	/*border-top: 2px solid #f2f2f2;*/
 	text-align: center;
 	padding: 7px;
 	font-family: consolas;
 	background-color: rgba(255, 255, 255, 0.7);

 }

 #table tr th{
 	padding: 10px;
 	font-size: 18px;
 	font-family: consolas;
 	background-color: rgba(255, 255, 255, 0.7);
 }

 /*#table tr:nth-child(even) {background-color: #cce6ff;}*/
 /*#table tr:nth-child(even) {background-color: rgba(255, 255, 255, 0.7);}*/

 #table i{
 	padding: 5px 7px;
 	border-radius: 4px 4px 4px 4px;
 	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 	/*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
 	font-size: 18px;
 	background: #8080ff;
 	color: white;
 	cursor: pointer;
 }

 #table i small{
 	font-family: consolas;
 	font-weight: bolder;
 }

.menu2{
	background: rgba(255, 255, 255, 0.2);
}



.form-popup {
  font-family: times new roman;
  display: none;
  position: fixed;
  transform: translate(20%, 10%);
  /*bottom: 0;
  right: 15px;*/
  border: 3px solid #f1f1f1;
  z-index: 9;
  border-radius: 12px 12px  12px 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.form-container {
  height: 60vh;
  max-width: 100vh;
  padding: 30px;
  background-color: white;

}

.form-container label{
	font-family: arial;
	padding-right: 10px;
}

.form-container input[type=text]{
  font-family: consolas;
  padding: 9px;
  margin: 5px 0px 19px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


  .button {
    position: absolute;
    left: 510px;
    top: 340px;
    margin-top: 30px;
    border-radius: 5px 5px 5px 5px;
    background-color: #8080ff;
    box-shadow: 0 5px 5px 0 #4d4dff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-family: times new roman;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
    min-width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.1);
  }
</style>
{% endblock %}


{% block content %}
<div>
	<h5 style="text-align: center ;padding-left: 10px ;margin-top: 20px; font-size: 25px ;color:#2E2E2E; font-family: consolas; color: white;
  text-shadow: 2px 2px 4px #000000;"><u>EQUIPMENT INFORMATION</u></h5>
	
	<div style="position: relative; margin-top: -20px;"><i class="fa fa-search" style="position: absolute; left:15px; top:10px;"></i><input type="text" placeholder="Search.." id="myInput" onkeyup="filterList()" ></div>
	
	<button style="position: absolute; right: 2.5%; top: 22%; padding: 10px 15px; font-family: consolas; font-size: 18px; font-weight: bolder; border: 2px solid #8080ff; border-radius: 6px; cursor: pointer;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" onclick="openForm2()"><i class="fa fa-plus" style="padding-right: 5px;" ></i>Add Item</button>

	<div style="height: 67vh; overflow-y: auto; /*background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));*/ margin-top: 15px;overscroll-behavior: contain;">
		<table width="99%" style="margin-top: 0px; /*border-collapse: collapse;*/ border-radius: 12px 12px 12px 12px;" id="table">
			<thead>
				<tr style="border-radius: 12px 12px 0px 0px; background: transparent;">
					<th style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">Code</th>
					<th style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">Item</th>
					<th style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">Quantity</th>
					<th style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">Location</th>
					<th style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">Specifications</th>
					<th style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">Extras</th>
					<th style="width: 80px; background: transparent;"></th>
					<th style="width: 80px; background: transparent;"></th>
				</tr>
			</thead>
			<tbody >
				{% for row in data %} 
					<td>{{row[0] |capitalize}}</td>
					<td style="text-align: left;">{{row[1] |capitalize}}</td>
					<td>{{row[2] |capitalize}}</td>
					<td style="text-align: left;">{{row[3] |capitalize}}</td>
					<td style="text-align: left;">{{row[5]}}</td>
					<td style="text-align: left;">{{row[6]}}</td>
					<td style="background: transparent; border-top: 2px solid transparent;"><button type='button' onclick="openForm(this)" style="border:none; height: auto; background: transparent;"><i class="fa fa-edit"><small> Edit</small></i></button></td>
					<td style="background: transparent; border-top: 2px solid transparent; ">
						<form action="{{url_for('delete_item', id=row[0], var='admin')}}" method="post">
				            <input type="hidden" name="_method" value="DELETE">
				            <i class="fa fa-trash"><input type="submit" value=" Delete" class="btn btn-danger" style="background: transparent; border: transparent; font-family: consolas; font-size: 15px; color: white; font-weight: bolder; padding:0px; cursor: pointer; "></i>
          				</form>
						<!-- <a href=""><i class="fa fa-trash"><small> Delete<small></i></a> -->
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div style="position: absolute; top: 14%; border: 1;height: 83%; width: 78%; display: none; background: rgba(0, 0, 0, 0.5); box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;" id="division">
	<div class="form-popup" id="myForm" >
	  	<form action="{{url_for('update_inv')}}" method="POST" class="form-container">
		    <h2 style="text-align:center; margin-top: 10px; color:#2E2E2E;">Edit Equipment Information</h2>

		    <label for="item_name"><b>Item:</b></label>
		    <input type="text" value='' name="item_name" required style="width: 51%; display: inline-block; margin-left: 65px;">

		    <label for="quantity" style="margin-left: 25px;"><b>Quantity:</b></label>
		    <input type="text" value='' name="quantity" required style="width: 3%; display: inline-block; margin-left: 10px;">

		    <label for="location"><b>Location:</b></label>
		    <input type="text" value='' name="location" required style="width: 75%; margin-left: 33px;">

		    <label for="specification"><b>Specification:</b></label>
		    <input type="text" value='' name="specification" required style="width: 75%">

		    <label for="extras"><b>Extras:</b></label>
		    <input type="text" value='' name="extras" required style="width: 75%; margin-left: 50px;">

		    <input type="text" value="" name="code" style="color:transparent; background:transparent; border: none;">

		    <input type="submit" class="button" value="Update Record" style="font-size: 18px; font-family: consolas">
		    <i type="button" class="fa fa-close" onclick="closeForm()" style="position: relative; top: -340px; left: 750px; border-radius: 24px; cursor: pointer; background: rgba(0, 0, 0, 0.5); color: #f2f2f2; padding: 10px 12px;"></i>
		</form>
	</div>
	</div>
	<div style="position: absolute; top: 14%; border: 1;height: 83%; width: 78%; display: none; background: rgba(0, 0, 0, 0.5); box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;" id="division2">
	<div class="form-popup" id="myForm2">
	  	<form action="{{url_for('add_inv')}}" method="POST" class="form-container">
		    <h2 style="text-align:center; margin-top: 10px; color:#2E2E2E;">Add Equipment</h2>

		    <label for='code'><b>Code:</b></label>
		    <input type="text" value='' name="code" required style="width: 8%; display: inline-block;">

		    <label for="item_name" style="margin-left: 25px"><b>Item:</b></label>
		    <input type="text" value='' name="item_name" required style="width: 38%; display: inline-block;">

		    <label for="quantity" style="margin-left: 25px;"><b>Quantity:</b></label>
		    <input type="text" value='' name="quantity" required style="width: 3%; display: inline-block;">

		    <label for="location"><b>Location:</b></label>
		    <input type="text" value='' name="location" required style="width: 75%; margin-left: 33px;">

		    <label for="specification"><b>Specification:</b></label>
		    <input type="text" value='' name="specification" required style="width: 75%">

		    <label for="paddress"><b>picture:</b></label>
		    <input type="text" placeholder='Picture url here' value='' name="paddress" required style="width: 75%; margin-left: 45px;">

		    <label for="extras"><b>Extras:</b></label>
		    <input type="text" value='' name="extras" required style="width: 75%; margin-left: 50px;">

		    <input type="submit" class="button" value="Add Item" style="font-size: 18px; font-family: consolas">
		    <i type="button" class="fa fa-close" onclick="closeForm()" style="position: relative; top: -340px; right: -250px; border-radius: 24px; cursor: pointer; background: rgba(0, 0, 0, 0.5); color: #f2f2f2; padding: 10px 12px;"></i>
		</form>
	</div>
	</div>
</div>

<script>

document.getElementById('myInput').addEventListener('keyup', filterList);
function filterList() {
    var srch = document.getElementById('myInput');
    var val = srch.value.toLowerCase();
    var valArr = val.split(' ');
    var tbl = document.getElementById('table');
    var tblLength = tbl.rows.length;
    if (tblLength != 0) {
        for (var i = 1; i < tblLength; i++) {
            tbl.rows[i].style.display = 'table-row';
            for (var j = 0; j < valArr.length; j++) {
                if (tbl.rows[i].textContent.toLowerCase().indexOf(valArr[j]) === -1) {
                    tbl.rows[i].style.display = 'none';
                }
            }
        }
    }
}

window.onload = function(){
	var chec = '{{msg}}'
	if (chec){
	alert(chec);
	}
}
function openForm(id) {
  document.getElementById("myForm").style.display = "block";
  document.getElementById("division").style.display = "block";

  document.getElementsByName("item_name")[0].value = id.closest('tr').cells[1].innerHTML;
  document.getElementsByName("location")[0].value = id.closest('tr').cells[3].innerHTML;
  document.getElementsByName("quantity")[0].value = id.closest('tr').cells[2].innerHTML;
  document.getElementsByName("specification")[0].value = id.closest('tr').cells[4].innerHTML;
  document.getElementsByName("extras")[0].value = id.closest('tr').cells[5].innerHTML;
  document.getElementsByName("code")[0].value = id.closest('tr').cells[0].innerHTML;

}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
  document.getElementById("division").style.display = "none";
  document.getElementById("myForm2").style.display = "none";
  document.getElementById("division2").style.display = "none";
}

function openForm2(){
  document.getElementById("myForm2").style.display = "block";
  document.getElementById("division2").style.display = "block";
}

</script>
{% endblock %}